DASHBOARD_DATA_BACKEND=artifacts
MONGODB_URI=mongodb+srv://dashboard-reader:replace-me@example.mongodb.net/
MONGODB_DATABASE=seattle_collision
DATASET_REFRESH_SECONDS=60
ARC_GIS_LAYER_URL=https://services.arcgis.com/ZOyb2t4B0UYuYNYH/arcgis/rest/services/SDOT_Collisions_All_Years_1/FeatureServer/0
